@define-color battery #26A65B;
@define-color cpu #2ecc71;
@define-color memory #9b59b6;
@define-color disk #964B00;
@define-color network #2980b9;
@define-color pulseaudio #f1c40f;
@define-color temp #f0932b;
@define-color temp-crit #eb4d4b;
@define-color trashcount #724bc5;
@define-color clock #64727D;
@define-color sway-workspaces #3fafbf;
@define-color sway-mode #64727D;
* {
    font-family: "Mononoki Nerd Font Mono", monospace;
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0;
}
window#waybar {
    background-color: rgba(0,0,0,0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-trashcount,
#window,
#mode,
#workspaces button {
    color: #ffffff;
}
#workspaces button {
    color: #ddd;
    border: none;
    text-shadow: none;
    background-color: @sway-workspaces;
    border-radius: 0;
    padding-left: 6px;
    padding-right: 6px;
}
#workspaces button.focused {
    color: #fff;
}
#workspaces button:hover {
    color: @sway-workspaces;
    background: #444;
}
#clock {
    background-color: @clock;
}
#battery {
    background-color: @battery;
    color: #ffffff;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#mode {
    background-color: @sway-mode;
    font-size:14px;
    font-variant: small-caps;
}
#cpu {
    background-color: @cpu;
    color: #000000;
}
#memory {
    background-color: @memory;
}
#disk {
    background-color: @disk;
}
#network {
    background-color: @network;
}
#pulseaudio {
    background-color: @pulseaudio;
    color: #000000;
}
#temperature {
    background-color: @temp;
}
#custom-trashcount {
    background-color: @trashcount;
}
#custom-arrow0 {
    font-size: 18px;
    color: @trashcount;
    background: transparent;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow1 {
    font-size: 18px;
    color: @network;
    background: @trashcount;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow2 {
    font-size: 18px;
    color: @cpu;
    background: @network;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow3 {
    font-size: 18px;
    color: @disk;
    background: @cpu;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow4 {
    font-size: 18px;
    color: @memory;
    background: @disk;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow5 {
    font-size: 18px;
    color: @temp;
    background: @memory;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow6 {
    font-size: 18px;
    color: @battery;
    background: @temp;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow7 {
    font-size: 18px;
    color: @pulseaudio;
    background: @battery;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow8 {
    font-size: 18px;
    color: @clock;
    background: @pulseaudio;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow9 {
    font-size: 18px;
    color: @sway-workspaces;
    background: transparent;
    margin: 0px;
    padding: 0px;
    border: none;
}
#custom-arrow10 {
    font-size: 18px;
    color: @sway-mode;
    background: @sway-workspaces;
    margin: 0px;
    padding: 0px;
    border: none;
}
